.depositcontainner{
    color: white;
}

.clutchdenLogo{
    max-width: 90px;
    max-height: 90px;
    background-color: rgb(27, 26, 26);
    padding: 6px;
    border-radius: 50px;
    margin: 20vh 10px 10vh 10px;
}
.cldiv{
    display: flex;
    justify-content: center;
}

/* for the text */ 
.dftx{
    padding: 20px 0;
    text-align: center;
}
.datx{
    color: black;
}

.formcontainer{
    background-color: #fff;
    display: block;
    padding: 20px;
    border-radius: 24px;
}

.outterformdiv{
    display: flex;
    justify-content: center;
}

.inputboxcss{
    min-width: 300px;
    padding: 10px;
    background-color: rgba(164, 230, 164, 0.623);
    font: clamp(12px, 4vw, 32px) sans-serif;
    border-radius: 30px;
    outline: none;
    border: 1px solid rgba(1, 29, 1, 0.767);
    margin: 10px 0;
}

.bank-details-box{
    background-color: #fff;
    display: block;
    padding: 20px;
    border-radius: 24px;
    margin: auto;
    color: black;
}

.btndiv{
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.cancelimg{
    max-width: 28px;
    margin: 4px;
    cursor: pointer;
}
.canceldiv{
    margin: 15px;
    width: 36px;
    height: 36px;
    background-color: rgb(27, 26, 26);
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}
#errorcanceler{
    display: none;
}

#errorcanceler:checked + .errobox{
    display: none;
}

.erromsgpopup{
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    border: 2px solid rgba(17, 16, 16, 0.767);
    position: fixed;
}