@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 133 57% 47%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: .5rem;
    --color-brand-50: #eefef2;
    --color-brand-100: #d8fde3;
    --color-brand-200: #a5feb8;
    --color-brand-300: #7bf99b;
    --color-brand-400: #3deb71;
    --color-brand-500: #00d64f;
    --color-brand-600: #00c042;
    --color-brand-700: #009636;
    --color-brand-800: #228b22;
    --color-brand-900: #07602a
}

.footermaindiv{
    overflow: hidden;
    padding: 40px 0;
    font-size:clamp(12px,2vw,16px);
}

.home-footer{
    max-width: 100vw;
}