@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Outfit:wght@100..900&display=swap');

:root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 133 57% 47%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: .5rem;
    --color-brand-50: #eefef2;
    --color-brand-100: #d8fde3;
    --color-brand-200: #a5feb8;
    --color-brand-300: #7bf99b;
    --color-brand-400: #3deb71;
    --color-brand-500: #00d64f;
    --color-brand-600: #00c042;
    --color-brand-700: #009636;
    --color-brand-800: #228b22;
    --color-brand-900: #07602a;
    --color-yellow-500: #f0b100;
}

.footermaindiv{
    padding: 40px 0;
    font-size:clamp(12px,2vw,16px);
}

.home-footer{
    max-width: 100vw;
}

.home-footer::before{
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(224, 185, 92, 0.4),
        transparent
    );
}

.bet-footer-social-icon{
    width: 30px;
    height: 30px;
}

.bet-footer-socials-containner{
    display: flex;
    gap: 15px;
    margin-top: 20px;
    justify-content: center;
}

.bet-footer-txt-1{
    background: linear-gradient(
      180deg,
      #f5df9c 0%,
      #e4bd5c 35%,
      #cea03d 60%,
      #886622 100%
    );
    /* Standard property */
    background-clip: text;

    /* Vendor prefix for Chrome / Safari */
    -webkit-background-clip: text;

    /* Make text transparent so gradient shows */
    color: transparent;
    -webkit-text-fill-color: transparent;
    font: clamp(1.5em, 3vw, 3em) 'Bebas Neue', sans-serif;
    text-align: center;
    padding: 0 20px;
    font: clamp(12px,2vw,1.2em) sans-serif;
}

.footer-content-div{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.footer-heading{
    font: clamp(1.2em, 2vw, 1.8em) 'Bebas Neue', sans-serif;
    margin-bottom: 10px;
    background: linear-gradient(
    180deg,
    #f6e6b4 0%,
    #e6c36a 35%,
    #caa24a 60%,
    #8a6a2a 100%
  );
  /* Standard property */
  background-clip: text;

  /* Vendor prefix for Chrome / Safari */
  -webkit-background-clip: text;

  /* Make text transparent so gradient shows */
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.footer-list{
    list-style-type: none;
    display: grid;
    gap: 8px;
}

.footer-link-txt{
    margin: 0;
    padding: 0;
    color: var(--color-secondary-text);
    font-family: sans-serif;
    font-weight: 500;
}

.platform-content-div{
    display: grid;
    gap: 10px;
    padding: 0 20%;
}

.official-league-partners-div-1{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.official-league-partners-container{
    background: linear-gradient(
        90deg,
        #061c29,
        #171f11ea,
        #061c29
    );
}

.official-league-partners-heading-txt{
    text-align: center;
    background: linear-gradient(
      180deg,
      #f5df9c 0%,
      #e4bd5c 35%,
      #cea03d 60%,
      #886622 100%
    );
    /* Standard property */
    background-clip: text;

    /* Vendor prefix for Chrome / Safari */
    -webkit-background-clip: text;

    /* Make text transparent so gradient shows */
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-family: 'Bebas Neue', sans-serif;
}

.official-league-partners-img{
    width: 50px;
    height: auto;
}

.official-league-partners-divider-line{
    display: block;
    width: 100%;
    height: 5px;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(224, 185, 92, 0.4),
        transparent
    );
    margin-bottom: 20px;
}