/* ---------- HEADER ---------- */
.heading-containner-for-support-chart {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    width: 100%;
    padding: 10px 12px;
    z-index: 500;
    box-sizing: border-box;
    overflow: hidden; /* ensure nothing sticks out of header */
}
.support-txt{
    text-align: center;
    color: white;
    font-size: clamp(20px, 4vw, 32px);
    font-weight: 600;
    padding: 10px;
}

/*----the main content ----*/
.msg-containner-divider{
    background-color: #d1d0d0;
}
/*----- The Add Message Button -----*/
.add-n-icon{
    max-width: 16px;
    min-width: 16px;
    padding: 10px;
    background-color:#1a1a1a;
    border-radius: 50%;
    
}
.add-n-msg-div{
    display: flex;
    margin: 10px;
    justify-content: center;
}

.msg-txt-1{
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.msg-item{
    border: 1px solid rgba(116, 114, 114, 0.233);
    padding: 10px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}
.msg-item:hover{
    background-color: rgba(202, 200, 200, 0.753);
}

#attachfile{
    display: none;
}

.attachfile-icon{
    width: 24px;
}
.attachfile-icon{
    margin: 7px 5px;
    cursor: pointer;
}
.attachfile-icon-div{
    min-width: 35px;
    min-height: 35px;
    max-height: 35px;
}
.send-msg-btn{
    border: none;
    background: transparent;
}

.createnewsupportmsg{
    color: black;
}
.createnewmsgform{
    display: grid;
    grid-template-rows: auto auto auto;
    gap: 10px;
}
.submitmsgcreatbtn-div{
    display: flex;
    justify-content: center;
}
.csmsg-txt{
    display: flex;
    justify-content: center;
    padding: 10px;
    font-weight: 800;
}

.replyPreview{
    width: 32px;
}
.ticketPreview{
    width: 32px;
}

.submit-new-chart-btn{
    padding: 10px;
    border-radius: 24px;
}

.popuperrormsg{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}
.new-chart-txt{
    padding: 5px;
    font: 1em sans-serif;
    border-radius: 5px;
}

.errormsg-sending{
    color: black;
    display: flex;
    justify-content: center;
}

#pickaMsg{
    display: none;
}



@media (min-width: 900px) {
    .the-support-page{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        max-width: 100vw;
        max-height: 100vh;
        overflow: hidden;
    } 

    .msg-containner-divider{
        display: grid;
        grid-template-columns: 1fr auto auto;
        max-height: 90vh;
        min-height: 90vh;
    }
    .add-cover{
        display: flex;
        gap: 5px;
        padding: 10px;
        background-color: #1a1a1a;
        border-radius: 10px;
    }
    .add-n-msg-txt{
        margin: auto 0;
    }
    .add-n-icon{
        margin: auto 0;
    }
    
    /* the first section */
    .n-msg-wfpanmg-div{
        display: flex;
        justify-content: center;
        height: 75vh;
    }
    .n-msg-wfpanmg{
        color: black;
        margin: auto 0;
    }
    .the-add-msg-section{
        max-width: 50vw;
        min-width: 50vw;
    }

    .subjectname{
        display: none;
    }

    .msg-item{
        margin: 10px;
    }

    .msg-width-stopper{
        padding: 10px;
    }

    /* the second section */
    .canceldiv1{
        display: none;
    }
    .msg-ask{
        display: flex;
        justify-content: center;
        margin: 40vh 0;
        color: black;
    }
    .msg-ask{ order: 2;}
    .the-msg-thread-section{
        border-left: 2px solid #1a1a1a;
    }
    .the-msg-thread-section{
        max-width: 50vw;
        min-width: 50vw;
    }
    .the-msg-thread-section-en-div{  
        margin: 10px;
        max-height: 86vh;
        min-height: 86vh;
    }
    .msg-chart-containner{
        overflow-y: scroll;
    }
    .msg-chart-containner::-webkit-scrollbar{
        display: none;
    }
    .msg-chart-containner-div{
        display: grid;
        max-height: 86vh;
        min-height: 86vh;
        grid-template-rows: 1fr auto;
    }
    .msg-containner-div{
        display: grid;
        grid-template-columns: 1fr auto auto auto;
        grid-template-rows: auto;
        border: 2px solid #1a1a1a;
        padding: 10px;
        border-radius: 10px;
    }
    .the-txt-input{
        background: transparent;
        border: none;
        outline: none;
        font: 1em sans-serif;
    }
    .adminBubble{
        background-color: #1a1a1a;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px;
        border-radius: 5px 18px 18px 18px;
        margin-bottom: 10px;
    }
    .userBubble{
        background-color: green;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px;
        border-radius: 18px 5px 18px 18px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .adminBubblediv{
        display: grid;
        grid-template-columns: auto auto 1fr;
    }
    .userBubblediv{
        display: grid;
        grid-template-columns: 1fr auto ;
    }
    .the-msg-txt-sent{
        display: grid;
        grid-template-columns: auto auto;
        
    }
    .subjectname1{
        color: black;
        margin-bottom: 10px;
    }
    .msg-date{
        display: flex;
        justify-content: end;
    }
    .the-msg-txt-sent{
        overflow: hidden;
    }
}

@media (max-width: 900px) {
    .add-cover{
        display: flex;
        gap: 5px;
        padding: 10px;
        background-color: #5e5d5d;
        border-radius: 10px;
    }
    .add-n-msg-txt{
        margin: auto 0;
    }
    .add-n-icon{
        background-color: #5e5d5d;
    }
    .subjectname1{
        display: none;
    }
    .the-add-msg-section{
        position: fixed;
        background-color: black;
        z-index: 888;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .msg-txt-1{
        color: white;
        padding: 10px;
    }
    .msg-width-stopper{
        padding: 10px;
        max-height: 80vh;
        overflow-y: scroll;
    }
    .msg-width-stopper::-webkit-scrollbar{
        display: none;
    }
    .msg-item{
        color: white;
        margin: 10px 0;
    }
    .msg-item:hover{
        background-color: #1a1a1a;
    }
    .add-n-msg-div{
        position: fixed;
        bottom: 0;
        right: 0;
    }
    .msg-list{
        padding: 10px;
    }
    .the-msg-thread-section-en-div{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: black;
    }
    #pickaMsg:checked + .the-msg-thread-section-en-div{
        display: block;
    }
    .subjectname{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .msg-form-sender{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #d1d0d0;
        max-width: 100vw;
        min-width: 100%;
        
    }
    .msg-containner-div{
        display: grid;
        grid-template-columns:  1fr auto auto auto; 
        margin: 10px;
    }
    .the-txt-input{
        background: transparent;
        border: none;
        outline: none;
        padding: 10px;
        font: 1em sans-serif;
    }
    .the-txt-input::-webkit-scrollbar{
        display: none;
    }
    .msg-chart-containner{
        max-height: 75vh;
        overflow-y: scroll;
    }
    .msg-chart-containner::-webkit-scrollbar{
        display: none;
    }
    .msg-chart-containner-div{
        padding: 10px;
    }
    .adminBubble{
        background-color: #1a1a1a;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px;
        border-radius: 5px 18px 18px 18px;
        margin-bottom: 10px;
    }
    .userBubble{
        background-color: green;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        padding: 20px;
        border-radius: 18px 5px 18px 18px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    .adminBubblediv{
        display: grid;
        grid-template-columns: auto auto 1fr;
    }
    .userBubblediv{
        display: grid;
        grid-template-columns: 1fr auto ;
        justify-content: end;
    }
    .the-msg-txt-sent-div{
        max-width: 50vw;
        display: inline-block;
    }
    .the-msg-txt-sent{
        display: grid;
        grid-template-columns: auto auto;
        
    }
    .the-txt-input{
        max-width: 65vw;
    }
    .msg-date{
        display: flex;
        justify-content: end;
    }
    .the-msg-txt-sent{
        overflow: hidden;  
    }
    .attachfile-icon{
        padding-top: 15px;
    }
}